<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>留言板</title>
	<link rel="stylesheet" type="text/css" href="./public/css/admin.css">
	<script type="text/javascript" src="./public/jscript/admin.js"></script>
</head>
<body>
<center>
<div id="replyboxCover" onclick="hiddenhf()" style="display:none;position:absolute;z-index:999;width: 100%;height: 100%;opacity: 0.3;background-color:#333;"></div>
<div id="replybox" class="box" style="box-shadow:0 0 10px #333;display: none;position: absolute;z-index: 1000;left: 25%;">
</div>
	<div id="box">
		<h1>留言板后台</h1>
		<div id="info">欢迎您：<?=$_SESSION['admin']?>&nbsp;<a style="color: #416fa9;" href="index.php?s=admin/logoutAction">退出</a></div>
		<div style="text-align: left;" id="comment">
			<div id="comment_info"></div>
			<ul id="comments" class="list">
				<li style="font-size: 28px;text-align: center;">
					页面加载中。。。。
				</li>
			</ul>
		</div>
		<div id="footer">
		</div>
	</div>
</center>
</body>
</html>